@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

html,
body {
  padding: 0;
  padding-bottom: 30px;
  margin: 0;
}

:root {
  --main-color: #78a861;
  --secondary-color: #e1b460;
  --default-font: "Roboto", sans-serif;
  --regular: 400;
}

.main {
  height: 100vh;

  /* layout */
  display: flex;
  justify-content: center;
  align-content: center;
}

/* header */
.main .header {
  position: fixed;
  height: 120px;
  width: 100vw;
  background-color: var(--main-color);

  /* layout */
  display: grid;
  align-items: center;
  grid-template-columns: 50px 50px 1fr 1fr;
  grid-template-rows: 1fr 15px;
}
.main .header .bar {
  grid-column: 2/3;
  grid-row: 1/2;

  height: 40px;
  cursor: pointer;
}
.main .header img {
  grid-column: 3/4;
  grid-row: 1/2;

  height: 85px;
}
.main .header p {
  grid-column: 3/4;
  grid-row: 1/2;

  color: white;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 20px;
  left: 100px;

  font-family: var(--default-font);
  font-weight: 400;
  font-size: 25px;
}
.main .header p::after {
  content: "__________________";
  position: absolute;
  top: 10px;
  left: 0px;
}
.main .header h3 {
  grid-column: 3/4;
  grid-row: 1/2;

  position: absolute;
  bottom: 25px;
  left: 100px;
  margin: 0;
  padding: 0;
  color: white;

  font-family: var(--default-font);
  font-weight: 400;
  font-size: 14px;
}

.main .header2 {
  grid-row: 2/3;
  grid-column: 1/5;

  height: 15px;
  width: 100vw;

  background-color: var(--secondary-color);
}

/* sidebar */
.main .sidebar-main {
  height: 100%;
  width: 200px;
  background-color: var(--main-color);

  position: fixed;
  top: 0;
  left: 0;

  /* layout */
  display: grid;
  grid-template-rows: repeat(4, 50px);
  place-items: center;
}
.main .sidebar-main.open {
  margin-right: 0;
  transition: margin ease-in 1s;
}
.main .sidebar-main.close {
  margin-left: -300px;
  transition: margin ease-in 1s;
}
.main .sidebar-main p {
  cursor: pointer;
  font-weight: var(--regular);
  font-family: var(--default-font);
  color: white;
  font-size: large;
}
.main .sidebar-main a:nth-child(1) {
  grid-row: 2/3;
  text-decoration: none;
}
.main .sidebar-main a:nth-child(2) {
  grid-row: 3/4;
  text-decoration: none;
}
.main .sidebar-main form {
  grid-row: 4/5;
}
.main .sidebar-main form input {
  cursor: pointer;
  font-weight: var(--regular);
  font-family: var(--default-font);
  color: white;

  border: none;
  background-color: var(--main-color);
  font-size: large;
}
.main .sidebar-main a:hover {
  background-color: #e1b460;
  width: 100%;
  text-align: center;
}
.main .sidebar-main span {
  grid-row: 1/2;
  cursor: pointer;
  color: red;

  position: absolute;
  right: 10px;
}

/* attendance */
.main .attendance-container {
  height: 500px;
  width: 700px;
  border: 2px solid var(--main-color);
  border-radius: 20px;

  margin-top: 140px;
  overflow: auto;

  /* layout */
  display: grid;
  justify-items: center;
  row-gap: 10px;
}
.main .attendance-container h1 {
  text-align: center;
  font-size: 50px;
  font-family: var(--default-font);
  font-weight: var(--regular);

  margin: 15px 0 0 0;
}
.main .attendance-container .box-container {
  height: 130px;
  width: 500px;
  background-color: var(--secondary-color);
  border-radius: 20px;

  padding: 12px;
}
.main .attendance-container .box-container p {
  display: flex;
  flex-direction: column;
  gap: 10px;

  font-weight: 400;
  font-family: var(--default-font);
  font-size: 15px;
}
